body { background: #67bf01; margin: 0; font-family: sans-serif; }
.storefront-container { padding: 20px; display: flex; }
.block-email-0 { color: #f38cc7; font-size: 16px; margin-bottom: 5px; }
.block-notify-1 { color: #759615; font-size: 12px; margin-bottom: 5px; }
.block-notify-2 { color: #883860; font-size: 17px; margin-bottom: 5px; }
.block-invoice-3 { color: #3525a1; font-size: 13px; margin-bottom: 5px; }
.block-user-4 { color: #79cc57; font-size: 15px; margin-bottom: 5px; }